

<div class = "container">
<div class = "card back">
<div class = "row">
<div class = "col-md-3">
<flip flip-width="150px" flip-height="210px">
      <flip-panel>
        <img  src="../../css/images/mongodb.png"/>
      </flip-panel>
      <flip-panel>
        <img  src="../../css/images/mongodb.png"/>
      </flip-panel>
 </flip> 
</div>


<div class = "col-md-3">

<flip flip-width="150px" flip-height="210px">
      <flip-panel>
        <img  src="../../css/images/nodejs_logo.png"/>
      </flip-panel>
      <flip-panel>
        <img  src="../../css/images/nodejs_logo.png"/>
      </flip-panel>
 </flip> 
</div>

<div class = "col-md-3">

<flip flip-width="150px" flip-height="210px">
      <flip-panel>
        <img  src="../../css/images/express.png"/>
      </flip-panel>
      <flip-panel>
        <img  src="../../css/images/express.png"/>
      </flip-panel>
 </flip> 
</div>

<div class = "col-md-3">

<flip flip-width="150px" flip-height="210px">
      <flip-panel>
        <img  src="../../css/images/angular.png"/>
      </flip-panel>
      <flip-panel>
        <img  src="../../css/images/angular.png"/>
      </flip-panel>
 </flip> 
 </div>

</div>


<div class = "row">

<div class = "col-md-3">

<flip flip-width="150px" flip-height="150px">
      <flip-panel>
        <img  src="../../css/images/react.png"/>
      </flip-panel>
      <flip-panel>
        <img  src="../../css/images/react.png"/>
      </flip-panel>
 </flip> 
</div>
<div class = "col-md-3">


<flip flip-width="150px" flip-height="150px">
      <flip-panel>
        <img  src="../../css/images/rails.png"/>
      </flip-panel>
      <flip-panel>
        <img  src="../../css/images/rails.png"/>
      </flip-panel>
 </flip> 

</div>

<div class = "col-md-3">

<flip flip-width="150px" flip-height="150px">
      <flip-panel>
        <img  src="../../css/images/ruby.png"/>
      </flip-panel>
      <flip-panel>
        <img  src="../../css/images/ruby.png"/>
      </flip-panel>
 </flip> 

</div>

<div class = "col-md-3">

<flip flip-width="150px" flip-height="150px">
      <flip-panel>
        <img  src="../../css/images/d3.png"/>
      </flip-panel>
      <flip-panel>
        <img  src="../../css/images/d3.png"/>
      </flip-panel>
 </flip> 

</div>



</div>

</div>

</div>