<div >
    <div class= "col-md-6 col-md-offset-3 car">
        <div class="flex-container">
            <div class="flex-item">
                <flip flip-width="150px" flip-height="170px">
                    <flip-panel>
                        <img src="../../css/images/mongodb.png" class="img-rounded" alt="Mongodb"  />
                    </flip-panel>
                    <flip-panel>
                        <div class="jumbotron text-center"> 1 Year </div>

                    </flip-panel>
                </flip>
            </div>

            <div class="flex-item">

                <flip flip-width="150px" flip-height="170px">
                    <flip-panel>
                        <img src="../../css/images/nodejs_logo.png" class="img-rounded" alt= "Nodejs" />
                    </flip-panel>
                    <flip-panel>
                        <div class="jumbotron text-center"> 1 Year </div>
                    </flip-panel>
                </flip>
            </div>

            <div class="flex-item">

                <flip flip-width="150px" flip-height="170px">
                    <flip-panel>
                        <img src="../../css/images/express.png" class="img-rounded" alt= "Expressjs" />
                    </flip-panel>
                    <flip-panel>
                        <div class="jumbotron text-center"> 1 Year </div>
                    </flip-panel>
                </flip>
            </div>

            <div class="flex-item">

                <flip flip-width="150px" flip-height="170px">
                    <flip-panel>
                        <img src="../../css/images/angular.png" class="img-rounded" alt= "Expressjs" />
                    </flip-panel>
                    <flip-panel>
                        <div class="jumbotron text-center"> 3 Years </div>
                    </flip-panel>
                </flip>
            </div>

        </div>

        <div class="flex-container">

            <div class="flex-item">

                <flip flip-width="150px" flip-height="150px">
                    <flip-panel>
                        <img src="../../css/images/react.png" class="img-rounded" alt= "Expressjs" />
                    </flip-panel>
                    <flip-panel>
                        <div class="jumbotron text-center"> 6 Months </div>
                    </flip-panel>
                </flip>
            </div>
            <div class="flex-item">

                <flip flip-width="150px" flip-height="150px">
                    <flip-panel>
                        <img src="../../css/images/rails.png" class="img-rounded" alt= "Expressjs" />
                    </flip-panel>
                    <flip-panel>
                        <div class="jumbotron text-center"> 2 Years </div>
                    </flip-panel>
                </flip>

            </div>

            <div class="flex-item">

                <flip flip-width="150px" flip-height="150px">
                    <flip-panel>
                        <img src="../../css/images/ruby.png" class="img-rounded" alt= "Expressjs" />
                    </flip-panel>
                    <flip-panel>
                        <div class="jumbotron text-center"> 2 Years </div>
                    </flip-panel>
                </flip>

            </div>

            <div class="flex-item">

                <flip flip-width="150px" flip-height="150px">
                    <flip-panel>
                        <img src="../../css/images/d3.png" class="img-rounded" alt= "Expressjs" />
                    </flip-panel>
                    <flip-panel>
                        <div class="jumbotron text-center"> 1 Year </div>
                    </flip-panel>
                </flip>

            </div>

        </div>

    </div>

</div>





